@mixin window {
	background-color: rgba($surface, 0.9);
	border-radius: 10px;
	box-shadow: 0px 2px 4px black;
	color: $on-surface;
}

@mixin btn {
	min-width: 25px;
	color: $on-surface;
	border-radius: 10px;
	padding: 6px;
	margin: 7px;

	&:hover {
		background-color: rgba($surface, 0.9);
	}
}
