.window_powermenu {
    background-color: rgba($secondary, 0.5);
}

.powermenu_root_box {
    transition: 300ms ease;
}

.powermenu_dock {
    background-color: $bg;
    border-radius: 1rem;
    box-shadow: 0rem 0rem 0.4rem $shadow;
}

.powermenu_return_button {
    background-color: $bg-alt;
    border-radius: 1rem;
    transition: 200ms ease;

    .icon {
        color: $green;
        font-size: 3.6rem;
        padding-right: 0.5rem;
    }

    &:hover {
        opacity: 0.5;
    }
}

.powermenu_reboot_button {
    background-color: $bg-alt;
    border-radius: 1rem;
    transition: 200ms ease;

    .icon {
        color: $secondary-alt;
        font-weight: bold;
        font-size: 4.4rem;
    }

    &:hover {
        opacity: 0.5;
    }
}

.powermenu_shutdown_button {
    background-color: $bg-alt;
    border-radius: 1rem;
    transition: 200ms ease;

    .icon {
        color: $secondary;
        font-weight: bold;
        font-size: 2.8rem;
    }

    &:hover {
        opacity: 0.5;
    }
}

